@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --p-color: #18181c;
  --p-bg-color: #101014;
  --p-border-color: rgba(255, 255, 255, 0.1);
  background-color: var(--p-bg-color);
}

.p-bg {
  background-color: var(--p-bg-color);
}

.p-block {
  background-color: var(--p-color);
  border: 1px solid var(--p-border-color);
}

.p-full-h {
  height: calc(100vh - 4em); /* h-16 == 4em */
}