/* stylelint-disable scss/at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable */

body {
  --p-color: #18181c;
  --p-action-color: rgb(255 255 255 / 6%);
  --p-bg-color: #101014;
  --p-border-color: rgb(255 255 255 / 10%);

  background-color: var(--p-bg-color);
}

.p-bg {
  background-color: var(--p-bg-color);
}

.p-bg-l {
  background-color: var(--p-color);
}

.p-bg-action {
  background-color: var(--p-action-color);
}

.p-block {
  border: 1px solid var(--p-border-color);
}

.p-full-h {
  height: calc(100vh - 4em); /* h-16 == 4em */
}

.test {
  color: rgb(173 173 173);
}
